<div class="bg-gray-100 p-5">
  <h2 class="text-3xl font-bold text-blue-700 whitespace-nowrap">Gloser for uke:</h2>
  <%= form_with(url: new_run_path, method: :get) do |form| %>
    <%= form.week_field :week,
                    value: @current_date.strftime("%Y-W%V"),
                    onchange: "this.form.submit()",
                    class:
                      "w-2/3 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  <% end %>
  <% if @this_weeks_words.empty? %>
    <h3 class="text-2xl font-bold text-blue-700 mb-6 whitespace-nowrap">Ingen gloser denne uken</h3>
  <% else %>
    <table class="table-auto my-5 shadow-lg rounded-lg overflow-hidden">
      <thead class="bg-blue-700 text-white">
        <tr>
          <th class="px-4 py-2">Norsk</th>
          <th class="px-4 py-2">Engelsk</th>
        </tr>
      </thead>
      <tbody>
        <% @this_weeks_words.each do |word| %>
          <tr class="bg-blue-200">
            <td class="border px-4 py-2"><%= word.norwegian.capitalize %></td>
            <td class="border px-4 py-2"><%= word.english.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form_with(model: run, class: "contents bg-white p-6 rounded-lg shadow-lg", data: { controller: "checkbox" }) do |form| %>
      <%= form.hidden_field :week, value: @current_date.cweek %>
      <%= form.hidden_field :year, value: @current_date.year %>
      <% if run.errors.any? %>
        <div id="error_explanation" class="bg-red-500 text-white px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(run.errors.count, "error") %>
            prohibited this run from being saved:</h2>
          <ul>
            <% run.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3 class="text-lg font-bold text-blue-700 mb-4 whitespace-nowrap">Velg ønskede nivåer og trykk 'Start'</h3>
      <% ['Nivå 1 - Velg riktig ord', 'Nivå 2 - Skriv riktig ord med hint', 'Nivå 3 - Skriv riktig ord uten hjelp'].each_with_index do |level, i| %>
        <div class="field mb-4">
          <%= form.check_box :selected_levels,
                         {
                           multiple: true,
                           class: "form-checkbox h-6 w-6 my-1 text-green-500 rounded-full shadow-md",
                           checked: true,
                           data: {
                             action: "change->checkbox#check",
                             checkbox_target: "option",
                           },
                         },
                         i + 1,
                         nil %>
          <%= form.label :selected_levels, level, class: "ml-2 text-gray-700 text-sm font-medium" %>
        </div>
      <% end %>
      <div class="inline">
        <%= form.submit "Start",
                    class:
                      "rounded-lg mt-3 py-3 px-5 bg-blue-700 text-white inline-block font-medium cursor-pointer hover:bg-blue-600 shadow-md",
                    autofocus: true %>
      </div>
    <% end %>
  <% end %>
</div>
