<div id="<%= dom_id run %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Player name:</strong>
    <%= run.player_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= run.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Week:</strong>
    <%= run.week %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this run", run, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this run", edit_run_path(run), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
