<div class="text-center">
  <h2 class="text-4xl font-bold text-blue-500 mb-6 inline-block">NIVÅ 1</h2>
</div>
<div class="text-center">
  <h3 class="text-xl font-bold text-blue-500 mb-6 inline-block whitespace-pre"><%= @run.current_level.current_word_completed ? ' ' : 'Velg riktig oversettelse av:' %></h3>
</div>
<div class="bg-purple-200 text-purple-800 text-4xl mb-6 mx-auto text-center p-3 rounded-lg"><%=  @run.current_level.current_word[ @run.current_level.current_word_language].capitalize %></div>
<div class="grid grid-cols-2 gap-6">
  <%  @run.current_level.options_order.each do |option| %>
    <% attribute_name = option.nil? ?  @run.current_level.current_word_options_language : "wrong_#{ @run.current_level.current_word_options_language}#{option}" %>
    <% color_class = if  @run.current_level.current_word_completed?
                        if  @run.current_level.current_word[ @run.current_level.current_word_options_language] ==  @run.current_level.current_word[attribute_name]
                          'bg-green-500 py-6 px-8'
                        elsif !@run.current_level.current_word_correct && @run.current_level.current_word_guess ==  @run.current_level.current_word[attribute_name]
                          'bg-red-500 py-6 px-8'
                        else
                          'bg-blue-500 py-6 px-8'
                        end
                      else
                        'bg-blue-500 hover:bg-blue-600'
                      end %>
    <div class="<%= color_class %> text-white rounded-lg text-center text-2xl cursor-pointer">
      <%=  @run.current_level.current_word_completed? ?  @run.current_level.current_word[attribute_name].capitalize : button_to( @run.current_level.current_word[attribute_name].capitalize, level_one_answer_run_path(@run), params: { guess:   @run.current_level.current_word[attribute_name] }, class: 'py-6 px-8 width-full') %>
    </div>
  <% end %>
</div>
<% if  @run.current_level.current_word_completed? %>
  <% answer_class = @run.current_level.current_word_correct ? 'text-green-500' : 'text-red-500' %>
  <div class="text-center mt-6">
    <p class="<%= answer_class%>">
      <%= @run.current_level.current_word_correct ? 'Gratulerer! Det var riktig svar.' : 'Det var desverre feil svar' %>
    </p>
  </div>
  <div class="text-center mt-10">
    <%= button_to 'Gå til neste >>', next_run_path(@run), class: 'bg-indigo-500 hover:bg-indigo-600 text-center rounder-lg text-white p-4' %>
  </div>
<% end %>
