<!DOCTYPE html>
<html>
  <head>
    <title>Gloser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-blue-50 flex flex-col min-h-screen">
    <header class="text-center py-5 bg-blue-500 text-white text-5xl font-bold">
      Engelske gloser
    </header>
    <main class="mt-10 mx-auto px-4 sm:px-6 lg:px-8 flex-grow">
      <%= yield %>
    </main>
    <footer class="text-center py-5 bg-blue-500 text-white text-xl">
      <% if @run.persisted? && action_name != 'completed' %>
        <p><%= @run.player_name %></p>
        <p>Oppgave: <%= "#{@run.current_task_number} / #{@run.total_number_of_tasks}" %></p>
      <% else %>
        <p class="whitespace-pre"> </p>
      <% end %>
    </footer>
  </body>
</html>
